<h2>Consoles</h2>

<div *ngFor="let console of consoles" class="pr-item">

  <h3>
    <a [title]="console.name + ' details ' ">

      {{console.name}}

    </a>
  </h3>

  <img src={{console.image}} class="pr-img" a>


  <p *ngIf="console.description">

    Description: {{ console.description}}

  </p>
  <p>
    Rating: {{console.rating}}
  </p>
  <p>
    Price: {{console.price}}
  </p>

  <button (click)="buy(console)">
    Buy
  </button>

  <button (click)="share(console) ">
    Share
  </button>




</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
