<app-top-bar></app-top-bar>

<div class="container">
  <h1>
    Categories
  </h1>
  <nav>
    <a routerLink="/product" routerLinkActive="active">Xiaomies</a>
    <a routerLink="/iphone" routerLinkActive="active">Iphones</a>
    <a routerLink="/laptop" routerLinkActive="active">Laptops</a>
    <a routerLink="/playconsole" routerLinkActive="active">Consoles</a>


  </nav>
  <router-outlet></router-outlet>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
